
/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}
html {
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
	border-spacing: 0; /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}

/* END RESET */

/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #404040;
	font-size: 16px;
	font-size: 1.6rem;
	font-family: sans-serif;
	line-height: 1.5;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
hr {
	margin-bottom: 1.5em;
	height: 1px;
	border: 0;
	background-color: #ccc;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ol, li > ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
	font-style: italic;
	font-family: Georgia, "Bitstream Charter", serif;
}
blockquote cite {
	color: #999;
	font-size: 13px;
}
blockquote cite:before {
	content: "\2014 \0020";
}
address {
	margin: 0 0 1.5em;
}
pre {
	overflow: auto;
	margin-bottom: 1.6em;
	padding: 1.6em;
	max-width: 100%;
	background: #F2F7F9;
	font: 12px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	line-height: 1.6;
}
code, kbd, tt, var {
	font: 14px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	position: relative;
	height: 0;
	vertical-align: baseline;
	font-size: 75%;
	line-height: 0;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}

/* Links */
a {
	color: #26ADE4;
}
a:visited {
	color: #26ADE4;
}
a:hover,
a:focus,
a:active {
	color: #1E8AB6;
}

/* =Layout
----------------------------------------------- */

body {
	color: #222;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.6;
}

.site-logo img {
	margin-bottom: 10px;
}

.site-title a {
	color: inherit;
	text-decoration: none;
}

.site-title {
	margin: 0;
	font-size: 18px;
	line-height: 1.2;
}

.site-description {
	margin: 10px 0 20px 0;
	color: #999;
	font-weight: 300;
	font-size: 13px;
}

.main-navigation ul,
.widget-area ul,
.widget-area ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-navigation li,
.widget-area li {
	display: block;
	margin: 0;
	padding: 0;
}

.main-navigation a,
.widget-area ul li a {
	padding: 2px 0px;
	text-decoration: none;
}

.widget-area .widget-title {
	font-size: 15px;
}

.site-navigation,
.post-navigation {
	margin-top: 20px;
}

.infinite-scroll .site-navigation {
	display: none;
}

.infinite-scroll .main-navigation,
.infinite-scroll .main-small-navigation {
	display: block;
}

.infinite-loader {
	display: block;
	padding-left: 50%;
}

.infinite-loader .spinner {
	margin-left: -17px;
}

#infinite-handle {
	margin-top: 20px;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 20px 0;
	font-weight: bold;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 15px;
}

h4,
h5,
h6 {
	font-weight: 300;
}

.site-main article {
	padding: 10px 0 40px 0;
	border-bottom: solid 1px #ddd;
}

.site-main article.comment {
	border-bottom: none;
}

.entry-title a {
	color: #404040;
	text-decoration: none;
}

.entry-title a:hover {
	color: #26ADE4;
}

.entry-content img {
    max-width: 100%;
}

.entry-meta,
.entry-meta a {
	color: #999;
	font-size: 12px;
}

.entry-meta a:hover {
	color: #26ADE4;
}

.site {
	background-color: #ffffff;
	margin: 60px auto;
	padding: 0 40px;
	width: 750px;
}

.site-header {
	float: left;
	margin-top: 34px;
	margin-bottom: 40px;
	width: 24%;
}

.site-content,
.site-footer {
	float: right;
	width: 70%;
}

.widget-area {
	float: left;
	width: 24%; /* Sidebar 1 */
	clear: left;
}

.site-header,
.entry-header,
.entry-content,
.widget-area .widget,
.comment {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}

.widget_search input[type="text"] { /* fixes overflow issue */
	width: 90%;
}

.site-footer {
	clear: both;
	margin-top: 40px;
	margin-bottom: 40px;
}

.site-footer,
.site-footer a {
	color: #999;
	font-size: 13px;
}

.site-footer a:hover {
	color: #26ADE4;
}

img#wpstats {
	display: block;
	margin: 5px auto;
}

table td {
	padding: 4px 0;
	border-bottom: solid 1px #eee;
	font-weight: 300;
}

table th {
	padding: 4px 0;
	border-bottom: solid 1px #ccc;
}

/* Text meant only for screen readers */
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/* =Navigation
----------------------------------------------- */

.site-content .site-navigation {
	overflow: hidden;
	/* margin: 0 0 1.5em; */
}
.site-content .nav-previous,
.site-navigation .previous-image {
	float: left;
	width: 40%;
}
.site-content .nav-next,
.site-navigation .next-image {
	float: right;
	width: 40%;
	text-align: right;
}

/* =Menu
----------------------------------------------- */

.main-navigation {
	display: block;
	float: left;
	clear: both;
	width: 100%;
}
.main-navigation ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}
.main-navigation li {
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
}
.main-navigation ul ul {
	position: absolute;
	top: 1.5em;
	left: 0;
	z-index: 99999;
	display: none;
	float: left;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}
.main-navigation ul ul ul {
	top: 0;
	left: 100%;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
}
.main-small-navigation .menu {
	display: none;
}

/* iPads (landscape) ----------- */
@media only screen and (max-width : 900px) {
/* Styles */

	.site {
		position: relative;
		margin: 0 auto;
		padding: 40px;
		width: auto;
	}

	.site-header,
	.site-content,
	.site-footer,
	.widget-area {
		width: 100%;
	}

	.site-header {
		margin-top: 0;
	}

	.site-title,
	.site-description {
		clear: none;
		margin-left: 70px;
	}

	.site-logo,
	.site-logo img {
		float: left;
		width: 50px;
		height: auto;
	}

	.main-navigation {
		clear: none;
		margin-left: -10px;
		padding-top: 20px;
		width: auto;
	}

	.main-navigation li {
		display: inline-block;
		padding: 5px 10px;
		width: auto;
	}

	/* Small Navigation */
	.main-small-navigation {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border-bottom: solid 1px #DDD;
		background: #F2F7F9;
		margin-top: 0;
	}

	.main-small-navigation ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.main-small-navigation a {
		display: block;
		padding: 10px 40px;
		border-top: solid 1px #ddd;
	}

	.main-small-navigation .menu-toggle {
		margin: 0;
		padding: 10px 40px;
		font-size: 14px;
	}

	.main-small-navigation .menu-toggle:before {
		margin-right: 10px;
		margin-left: -20px;
		content: '\2261';
	}

	.main-small-navigation .menu-toggle.toggled-on {
		background: white;
	}
}

@media only screen and (max-width : 600px) {
	#masthead {
		margin-top: 40px;
	}
}
