        {% macro entry_meta(article, post_view=False) -%}
            <footer class="entry-meta">
                Posted on<abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
                {% if post_view %}
                {% if article.author %}by <span class="byline"><span class="author vcard"><a class="url fn n" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></span></span>.{% endif %}
                {% endif %}
                {% if post_view %}
                    {%- if article.category.name != "Uncategorized" -%}
                        This entry was posted in <a href="{{ SITEURL }}/{{ article.category.url }}" title="View all posts in {{ article.category }}" rel="category">{{ article.category }}</a>
                    {% endif %}
                    {% if article.tags %}
                    and tagged 
                        {% for t in article.tags %}
                            <a href="{{ SITEURL }}/{{ t.url }}" rel="tag">{{ t }}</a>{% if not loop.last %}, {% endif %}
                        {%- endfor %}
                    {% endif %}
                {% else %}
                    {%- if article.category.name != "Uncategorized" -%}
                    <span class="cat-links">
                        Posted in <a href="{{ SITEURL }}/{{ article.category.url }}" title="View all posts in {{ article.category }}" rel="category">{{ article.category }}</a>
                    </span>
                    {%- endif %}
                    {% if article.tags %}
                    <span class="sep"> | </span>
                    <span class="tags-links">
                    Tagged 
                    {% for t in article.tags %}
                        <a href="{{ SITEURL }}/{{ t.url }}" rel="tag">{{ t }}</a>{% if not loop.last %}, {% endif %}
                    {%- endfor %}
                    </span>
                    {% endif %}
                {% endif %}
            </footer><!-- /.post-info -->
        {%- endmacro %}
